<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1315472525702357</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.898695659868-t31qh88j2aun9o1no8fu7dnis1p1tmr1</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1315472525702357</string>
	<key>FacebookClientToken</key>
	<string>45b9a846efbc62554570b87a3343bb19</string>
	<key>FacebookDisplayName</key>
	<string>My Messenger</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <false/>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <false/>
</dict>
</plist>
